.cache/
.fonts/
.histfile
.nvm/
.vim/
BraveSoftware/
Code/
GIMP/
Google/
Kingsoft/
QtProject.conf
Thunar/
baloofileinformationrc
chromium/
coc/
dconf/
dolphinrc
github-copilot/
gtk-2.0/
gtk-3.0/
htop/
kconf_updaterc
kde.org/
kdeglobals
kdenlive-layoutsrc
kdenliverc
kiorc
libfm/
libreoffice/
neofetch/
nitrogen/
npm/
obs-studio/
onlyoffice/
pamac/
pavucontrol.ini
pcmanfm/
polybar1/
pulse/
qt5ct/
session/
xarchiver/
xfce4/
