/** Basic config file **/

configuration {
  show-icons:         true;
  icon-theme:         "solarized";
  matching: "fuzzy";
  sort-method: "fuzzy";
  font:"Fira Code 18";
}
@import "/usr/share/rofi/themes/solarized.rasi"
